<!--[basic template please see instructions for details]-->
<div>
Template for tag 1
<table border="0">
<tr>
<td><a href="http://www.elpasohomepage.com/listings/index.php?action=listingview&listingID={listing_field_MLS_Number_value}" target="_blank"><img src="{listing_field_photo_value}" width="200" height="200"/></a></td>
<td align="center">
Bathrooms <b>{listing_field_#Baths_value}</b> <br />
Bedrooms <b>{listing_field_#Bedrooms_value}</b> <br />
City <b>{listing_field_Address_City_value}</b> <br />
Remarks <b>{listing_field_Remarks_short_value}</b> <a href="http://www.elpasohomepage.com/listings/index.php?action=listingview&listingID={listing_field_MLS_Number_value}" target="_blank"> Read more ... </a><br />
Listed by <b>{listing_field_Office_Name_value}</b>
</td>
</tr>
</table>
</div>