<!--[
basic template please see instructions for details
See the online documentation in order to examine additional features for these types of files
]-->
<div style="border: 1px solid #333;">
{field_title}<br/>
<a href="{link_to_listing}"><img src="{listing_field_photo_value}" width="200" height="200"/></a><br />
Address: {listing_field_address_value}<br />
Baths: <b>{listing_field_baths_value}</b><br />
Beds: <b>{listing_field_beds_value}</b><br />
City: <b>{listing_field_city_value}</b><br />
</div>